@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

@layer base {
    @font-face {
        font-family: "Caveat", cursive;
        src: url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
    }
}
